[project]
name = "recap-core"
version = "0.5.3"
description = "A metadata toolkit written in Python"
authors = [
    {name = "Chris Riccomini", email = "criccomini@apache.org"},
]
dependencies = [
    "fastapi>=0.88.0",
    "uvicorn[standard]>=0.20.0",
    "httpx>=0.23.1",
    "typer>=0.7.0",
    "sqlalchemy>=1.4.45",
    "rich>=12.6.0",
    "setuptools>=65.6.3",
    "starlette>=0.22.0",
    "pydantic[dotenv]>=1.10.5",
    "pandas>=1.5.3",
    "fsspec>=2023.1.0",
    "frictionless[json,parquet]>=5.6.3",
    "tomli>=2.0.1",
    "avro>=1.11.1",
    "genson>=1.2.2",
    "sqlglot>=11.3.6",
    "protobuf>=4.22.1",
]
# < 3.12 for sqlalchemy-bigquery
requires-python = ">=3.10, <3.12"
readme = "README.md"
license = {text = "MIT"}
keywords = [
    "metadata",
    "data",
    "data catalog",
    "data engineering",
    "data infrastructure",
    "infrastructure",
    "devtools",
    "devops",
]

[project.urls]
documentation = "https://docs.recap.cloud"
homepage = "https://github.com/recap-cloud/recap"
repository = "https://github.com/recap-cloud/recap"

[project.scripts]
recap = "recap.cli:app"

[project.optional-dependencies]
gcp = [
    "gcsfs>=2023.1.0",
    "sqlalchemy-bigquery>=1.6.1",
]

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool.pdm.dev-dependencies]
docs = [
    "mkdocs-material>=8.5.11",
    "mkdocs-git-revision-date-plugin>=0.3.2",
    "mike>=1.1.2",
    "mkdocstrings[python]>=0.20.0",
    "mkdocs-typer>=0.0.2",
]
dbs = [
    "psycopg2>=2.9.5",
    "snowflake-sqlalchemy>=1.4.4",
    "sqlalchemy-bigquery>=1.6.1",
    "google-cloud-bigquery>=3.6.0",
]
fss = [
    "s3fs>=2023.1.0",
    "gcsfs>=2023.1.0",
]
tests = [
    "pytest>=7.2.1",
]
style = [
    "black>=23.1.0",
    "isort>=5.12.0",
    "pylint>=2.16.1",
    "pyright>=1.1.293",
]

[tool.isort]
profile = "black"
case_sensitive = true

[tool.pylint.messages_control]
max-line-length = 110

[tool.pyright]
include = ["recap/"]
pythonPlatform = "All"
exclude = [
    "**/__pycache__",
]
